tr[class="read"] {
  background-image: linear-gradient(to right, 	#E0FFFF, #AFEEEE);
}
tr[class="to-read"] {
  background-image: linear-gradient(to left, #90EE90, #00FF7F); 
}
tr[class="in-progress"] {
  background-image: linear-gradient(to right, #FFFFE0, #DAA520)
}
span[class="status"],
span[class="rate"]
 {
  display: inline-block; 
}
tr[class="to-read"] span[class="status"] {
  border: 1px double red; 
}
